@charset "UTF-8";
a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*상단스타일*/
header {
  position: fixed;
  width: 100%;
  z-index: 200;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.4s;
}
header:hover {
  background: rgb(255, 255, 255);
}
header .inner {
  display: flex;
  height: 110px;
  justify-content: space-between;
  margin: 0 7.3%;
  align-items: center;
  font-size: 18px;
}
header .inner a {
  color: #000;
  font-weight: bold;
}
header .inner #menu {
  width: 800px;
  white-space: nowrap;
}
header .inner #menu > ul {
  display: flex;
  justify-content: space-around;
}
header .inner #menu .m_t {
  position: relative;
}
header .inner #menu .sub {
  position: absolute;
  top: 50px;
  z-index: 99;
  transition: all 0.4s ease;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
header .inner #menu .sub ul {
  padding-top: 10px;
  white-space: nowrap;
}
header .inner #menu .sub li {
  margin-top: 20px;
}
header .inner #menu .sub li a {
  color: gray;
}
header .inner #menu .sub li a:hover {
  color: #008239;
}
header .inner #menu:hover .sub {
  height: 200px;
  visibility: visible;
}
header .inner #menu::after {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 0;
  position: absolute;
  top: 110px;
  left: 0;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  visibility: hidden;
}
header .inner #menu:hover::after {
  height: 200px;
  visibility: visible;
  background: rgb(255, 255, 255);
}
header .inner #util {
  font-size: 20px;
  position: relative;
  width: 180px;
  text-align: right;
  line-height: 28px;
}
header .inner #util ul {
  display: flex;
}
header .inner #util li {
  width: 50%;
  text-align: right;
  position: relative;
  white-space: nowrap;
}
header .inner #util li .sub {
  display: none;
  color: #fff;
  right: 5px;
  position: absolute;
  transition: all 0.4s;
}
header .inner #util li:hover .sub {
  display: block;
  width: 35px;
  height: 50px;
  border-radius: 0 0 20px 20px;
  background: #fff;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  line-height: 50px;
  text-align: center;
}
header .inner #util .buger a {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #000;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
}
header .inner #util .xi-bars {
  color: #fff;
}

#side_menu {
  transition: all 0.4s ease-in-out;
  position: fixed;
  width: 400px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #eee;
  right: 0;
  top: 0;
  z-index: 99;
  transform: translateX(100%);
  visibility: hidden;
}
#side_menu #side_con {
  padding-top: 35%;
  margin-left: 8%;
}
#side_menu p {
  color: #008239;
  font-weight: bold;
  font-size: 24px;
  margin: 14% 0 5% 3%;
}
#side_menu li {
  padding: 8px 0;
  margin-left: 3%;
}
#side_menu li a {
  color: gray;
  font-weight: bold;
}
#side_menu li a:hover {
  color: #008239;
}
#side_menu .min {
  float: right;
  margin-right: 8%;
}
#side_menu.active {
  visibility: visible;
  transform: translateX(0);
}

@keyframes main_text {
  to {
    transform: translateX(-50%);
  }
}
@keyframes s1 {
  to {
    top: -20px;
  }
}
/*메인영역 스타일*/
main {
  padding-top: 110px;
}

#main_view {
  position: relative;
  height: calc(100vh - 110px);
  overflow: hidden;
}
#main_view #main_text {
  animation: main_text 100s linear infinite;
  letter-spacing: -6px;
  font-weight: bold;
  font-size: 200px;
  color: #008239;
  white-space: nowrap;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  line-height: 1;
  margin-top: -0.5em;
}
#main_view #main_image {
  position: absolute;
  top: 50%;
  left: calc(17.5% - 100px);
  transform: translateY(-50%);
  padding: 0 100px;
  width: calc(70% - 100px);
}
#main_view #main_image .swiper-slide img {
  height: 625px;
  opacity: 0;
}
#main_view #main_image .swiper-slide.swiper-slide-next img {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0s;
}
#main_view #main_image .swiper-slide.swiper-slide-prev img {
  opacity: 0;
  transform: translateX(-90px);
  transition: all 0.4s;
}
#main_view #main_image .swiper-slide.swiper-slide-active img {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.4s;
}
#main_view #main_slide_bt {
  position: absolute;
  bottom: 70px;
  left: 140px;
  z-index: 400;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main_view #main_slide_bt .main_pager {
  height: auto;
  font-family: "Pretendard-Bold";
  color: #000;
  font-size: 0;
  width: 40px;
  text-align: center;
}
#main_view #main_slide_bt .main_pager span {
  font-size: 18px;
  display: block;
  padding: 5px 0;
}
#main_view #main_slide_bt .main_pager .swiper-pagination-current {
  border-bottom: 2px solid #000;
}
#main_view #main_slide_bt .main_pager .swiper-pagination-total {
  color: #000;
  opacity: 0.4;
  font-weight: normal;
}
#main_view #main_slide_bt .main_pager span::before {
  content: counter(title) "";
  font-family: "Pretendard";
}
#main_view #main_slide_bt .main_next {
  color: #000;
  font-size: 40px;
}
#main_view #main_slide_bt .main_prev::after {
  display: none;
}
#main_view #main_slide_bt .main_next::after {
  display: none;
}
#main_view #slogan {
  position: absolute;
  bottom: 50px;
  right: 140px;
}
#main_view #slogan li {
  border: 1px solid #008239;
  background: #fff;
  width: 150px;
  height: 45px;
  border-radius: 25px;
  text-align: center;
  line-height: 43px;
  display: inline-block;
  margin-left: -20px;
  position: relative;
  top: 0;
}
#main_view #slogan li:last-child {
  background: #008239;
}
#main_view #slogan li:last-child a {
  color: #fff;
}
#main_view #slogan .s1 {
  transform: rotate(-10deg);
  animation: s1 0.4s infinite 0.2s alternate;
}
#main_view #slogan .s2 {
  transform: rotate(0deg);
  animation: s1 0.4s infinite 0.3s alternate;
}
#main_view #slogan .s3 {
  transform: rotate(10deg);
  animation: s1 0.4s infinite 0.4s alternate;
}
#main_view #slogan .s4 {
  transform: rotate(0deg);
  animation: s1 0.4s infinite 0.5s alternate;
}
#main_view #slogan a {
  font-size: 24px;
  text-decoration: none;
  color: #008239;
  font-weight: bold;
}

#brand_story {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
#brand_story .inner {
  max-width: 1640px;
  width: 85.4%;
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 10%;
  word-break: keep-all;
}
#brand_story span {
  display: inline-block;
}
#brand_story .bg_line_box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}
#brand_story .bg_line_box .bg_line {
  max-width: 1900px;
  width: 110%;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  margin-left: -50px;
}
#brand_story .brand_bg {
  width: 714px;
  height: 649px;
  position: absolute;
  top: 0px;
  right: 100px;
  background: url("../image/bs_backimg.png") no-repeat;
}
#brand_story h3 {
  font-size: 5.2vw;
  font-family: "Pretendard-Bold";
  color: #008239;
  margin-left: 8.3%;
  margin-bottom: 13%;
}
#brand_story #b_start {
  margin: 0 8.3%;
}
#brand_story #b_start li {
  margin-bottom: 12.5%;
}
#brand_story #b_start li:last-child {
  margin-bottom: 0 !important;
}
#brand_story #b_start li:nth-child(odd) .img {
  float: left;
}
#brand_story #b_start li:nth-child(odd) .text {
  padding-left: 42%;
}
#brand_story #b_start li:nth-child(even) .img {
  float: right;
}
#brand_story #b_start li:nth-child(even) .text {
  padding-right: 42%;
}
#brand_story #b_start .item {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
#brand_story #b_start .item.active {
  transform: translateY(0);
  opacity: 1;
}
#brand_story #b_start .item .img {
  width: 41.9%;
}
#brand_story #b_start .item .img img {
  width: 100%;
}
#brand_story #b_start .item .text {
  padding-top: 13.5%;
}
#brand_story #b_start .item .bt {
  background: #008239;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 39px;
  font-size: 25px;
  font-family: Pretendard-Bold;
  color: #fff;
}
#brand_story #b_start .item h2 {
  font-size: 38px;
  font-family: Pretendard-Bold;
  margin: 4% 0 6%;
  line-height: 1.4;
}
#brand_story #b_start .item p {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.6;
}

#product_slider {
  margin-bottom: 15%;
  position: relative;
  overflow: hidden;
}
#product_slider .swiper-wrapper {
  display: flex;
}
#product_slider .product01 {
  background: #69B78E;
}
#product_slider .product02 {
  background: #F2BEA0;
}
#product_slider .product03 {
  background: #ffd483;
}
#product_slider .swiper-slide {
  flex-shrink: 0;
}
#product_slider .inner {
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 1400px;
  position: relative;
  display: block;
}
#product_slider .product_title {
  text-align: center;
  font-family: "Pretendard-Black";
  font-size: 50px;
  padding-top: 5%;
}
#product_slider .product01 .product_title {
  color: #FFF;
}
#product_slider .product02 .product_title {
  color: #FFF;
}
#product_slider .product03 .product_title {
  color: #FFF;
}
#product_slider .product_box {
  width: 100%;
}
#product_slider .product_box .item_title {
  font-size: 320px;
  color: #CBD9A9;
  text-align: center;
  z-index: 20;
  font-family: "Pretendard-Black";
  opacity: 0.7;
}
#product_slider .product_box .item_title.pink {
  color: #FF8843;
}
#product_slider .product_box .item_title.yellow {
  color: #FFE0A7;
}
#product_slider .product_box .main_product img {
  width: 589px;
  transform: rotate(15deg);
  position: absolute;
  top: 34%;
  left: 30%;
  z-index: 21;
  animation: move 0.7s ease-in 0s infinite alternate;
}
#product_slider .product_box .bean img {
  transform: rotate(-15deg);
}
#product_slider .product_box .man img {
  width: 747px;
  top: 30%;
  left: 22%;
  transform: rotate(-3deg);
}
#product_slider .product_box .main_product::after {
  content: "";
  display: block;
  width: 550px;
  height: 38px;
  background: rgba(10, 10, 10, 0.1);
  border-radius: 85%;
  position: absolute;
  bottom: 12%;
  left: 50%;
  margin-left: -290px;
  filter: blur(10px);
}
#product_slider .product_bg .tomato {
  z-index: 10;
  opacity: 0.7;
  animation: rotate 2.5s ease-in 0s infinite alternate;
}
#product_slider .product_bg .f {
  top: 30%;
  left: -8%;
  position: absolute;
  transform: rotate(60deg);
  opacity: 1;
  animation: move 1s ease-in 0s infinite alternate;
}
#product_slider .product_bg .f.ss {
  left: 0;
  transform: rotate(40deg);
}
#product_slider .product_bg .f.rice_spoon {
  left: 5%;
  top: 18%;
  transform: rotate(60deg);
}
#product_slider .product_bg .s {
  top: 30%;
  right: 12%;
  position: absolute;
  transform: rotate(0deg);
  z-index: 19;
  opacity: 1;
  animation: move 0.5s ease-in 0s infinite alternate;
}
#product_slider .product_bg .s.mm {
  top: 32%;
}
#product_slider .product_bg .s.salmon {
  transform: rotate(30deg);
}
#product_slider .product_bg .t {
  top: 20%;
  right: 3%;
  position: absolute;
  opacity: 1;
  z-index: -1;
  animation: move 0.6s ease-in 0s infinite alternate;
}
#product_slider .product_bg .t.ee {
  transform: rotate(-30deg);
}
#product_slider .product_bg .t.carrot {
  transform: rotate(110deg);
  top: 12%;
}
#product_slider .product_bg .pasta {
  width: 287px;
  height: 285px;
  position: absolute;
  bottom: 32%;
  left: 16%;
  z-index: 20;
  animation: rotate 10s ease-in 0s infinite alternate;
}
@keyframes move {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#product_slider .product_sogae {
  position: absolute;
  color: #FDF9DE;
  bottom: 23%;
  left: 0;
}
#product_slider .product_sogae p {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}
#product_slider .product_sogae em {
  font-weight: normal;
}
#product_slider .info {
  position: absolute;
  right: 0;
  bottom: 23%;
}
#product_slider .info li {
  padding: 3% 0;
  border-bottom: 1px solid white;
  color: white;
}
#product_slider .info li a {
  color: white;
  margin-left: 0%;
  float: right;
  margin-left: 20px;
  display: inline-block;
  transition: transform 0.5s ease;
}
#product_slider .info li a:hover {
  animation: rotate 1s forwards;
}
#product_slider .info .info_color li {
  color: #a85a00;
  border-bottom: 1px solid #a85a00;
  font-family: "Pretendard-Medium";
}
#product_slider .info .info_color li a {
  color: #a85a00;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#product_slider .news_btn {
  margin-top: 32%;
  font-family: "Pretendard";
  text-align: center;
}
#product_slider .news_btn span {
  font-size: 25px;
  color: #FDF9DE;
}
#product_slider .news_btn p {
  font-size: 12px;
  width: 30px;
  height: 30px;
  background: #FDF9DE;
  border-radius: 50%;
  color: #69B78E;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
  box-sizing: border-box;
  font-weight: bold;
}
#product_slider .news_btn.product_pasta_btn p {
  color: #F2BEA0;
}
#product_slider .news_btn.product_rice_btn p {
  color: #F2B749;
}
#product_slider .pager {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: 300;
  font-family: "Pretendard";
  color: #fff;
  transform: translate(700px, 50%);
  font-size: 0;
  font-weight: bold;
  width: 50px;
  text-align: center;
}
#product_slider .pager span {
  font-size: 25px;
  display: block;
  padding: 5px 0;
}
#product_slider .pager .swiper-pagination-current {
  border-bottom: 3px solid #fff;
}
#product_slider .pager .swiper-pagination-total {
  color: #fff;
  opacity: 0.5;
  font-weight: normal;
}
#product_slider .pager span::before {
  content: counter(title) "";
  font-family: "Pretendard";
}
#product_slider .next {
  color: #fff;
  position: absolute;
  right: 8%;
  bottom: 0;
  font-size: 40px;
}
#product_slider .next::after {
  display: none;
}

#news {
  width: 100%;
  margin: 200px 0 20%;
}
#news .inner {
  max-width: 1364px;
  margin: 0 auto;
  width: 92%;
}
#news .news_title {
  margin-bottom: 20px;
}
#news .news_title h1 {
  font-size: 100px;
  font-family: "Pretendard-Bold";
  color: #008239;
}
#news .news_btn {
  float: right;
  margin-top: -40px;
  font-family: "Pretendard-Bold";
}
#news .news_btn span {
  font-size: 30px;
  color: #000;
}
#news .news_btn p {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #008239;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  box-sizing: border-box;
}
#news .news_box {
  font-family: "Noto Sans KR";
  font-weight: 500;
}
#news .news_box ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.9fr;
  grid-gap: 20px;
  gap: 20px;
}
#news .news_box li {
  float: left;
  position: relative;
  border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
}
#news .news_box li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
#news .news_box li:first-child {
  grid-row: 1/span 2;
}
#news .news_box li:hover img {
  transform: scale(1.05);
}
#news .news_box li a {
  display: block;
  width: 100%;
  height: 100%;
}
#news .news_box li a:after {
  content: "";
  width: 100%;
  height: 268px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 92%, rgb(2, 0, 36) 90%);
}
#news .news_box .notice a::after {
  display: none;
}
#news .news_box .notice img {
  -o-object-position: right bottom;
     object-position: right bottom;
}
#news .news_box span {
  position: absolute;
  top: 3%;
  left: 5%;
  color: #fff;
  z-index: 8;
  width: 124px;
  height: 47px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 47px;
  box-sizing: border-box;
}
#news .news_box dl {
  position: absolute;
  z-index: 90;
  bottom: 6%;
  left: 5%;
  width: 90%;
}
#news .news_box dl dt {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#news .news_box dl dd {
  color: #979797;
  font-size: 15px;
  margin-top: 3%;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#news .news_box .hyoree_box span {
  width: 150px;
}
#news .news_box .hyoree_box dt {
  font-size: 25px;
  width: 100%;
}
#news .news_box .hyoree_box dd {
  font-size: 17px;
  width: 100%;
}

#gotoTop {
  position: fixed;
  right: 50px;
  bottom: 0px;
  z-index: 999;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
  line-height: 60px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#gotoTop.active {
  opacity: 1;
  bottom: 50px;
}
#gotoTop .top_btn {
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 5px;
}
#gotoTop .top_btn a {
  text-decoration: none;
  color: black;
}

#mobile {
  position: relative;
  width: 100%;
  height: 463px;
  background: url(../image/mobile_bg01.jpg) center 50% no-repeat;
  background-size: cover;
  border-radius: 150px 150px 0 0;
}
#mobile .img {
  background: url(../image/mobile_img.png) no-repeat;
  width: 300px;
  height: 561px;
  position: absolute;
  bottom: 0;
  left: 18%;
  transform: rotate(-8deg);
  background-size: contain;
  transition: all 0.4s;
  opacity: 0;
}
#mobile .inner {
  max-width: 1364px;
  margin: 0 auto;
  padding-left: 25%;
  box-sizing: border-box;
}
#mobile .inner h1 {
  color: white;
  font-size: 30px;
  line-height: 1.3;
  font-weight: bold;
  font-family: "Noto Sans KR";
  padding-top: 96px;
  transition: all 0.4s ease 0.1s;
  transform: translateY(100px);
  opacity: 0;
}
#mobile .inner h1 span {
  display: inline-block;
}
#mobile .inner p {
  color: white;
  font-size: 23px;
  clear: both;
  line-height: 1.5;
  margin-top: 4%;
  font-family: "Noto Sans KR";
  transition: all 0.4s ease 0.2s;
  transform: translateY(100px);
  opacity: 0;
}
#mobile .app_box {
  clear: both;
  float: right;
  margin-right: 37%;
  margin-top: 3%;
}
#mobile li {
  display: inline-block;
}
#mobile.active .img {
  bottom: 10%;
  opacity: 1;
}
#mobile.active .inner h1,
#mobile.active .inner p {
  transform: translateY(0);
  opacity: 1;
}

footer {
  width: 100%;
  background: #008239;
}
footer .inner {
  margin: 0 auto;
  max-width: 1364px;
  overflow: hidden;
  padding-bottom: 50px;
}
footer .inner h1 {
  padding-top: 60px;
}
footer .inner h1 img {
  width: 274px;
  height: 58px;
}
footer .inner hr {
  margin-left: -10%;
  border: 1px solid white;
  width: 120%;
  opacity: 0.5;
  margin-top: 2%;
}
footer .inner #footer_info {
  float: left;
  margin-top: 50px;
  height: auto;
}
footer .inner #footer_info li {
  color: white;
  padding-bottom: 30px;
  font-size: 17px;
}
footer .inner #footer_info li:last-child {
  color: #CECECE;
}
footer .inner #footer_gnb {
  float: right;
  margin-top: 50px;
}
footer .inner #footer_gnb li {
  display: inline-block;
  margin: 0 14px;
}
footer .inner #footer_gnb li a {
  color: white;
  text-decoration: none;
}
footer .inner #footer_gnb li:first-child {
  font-weight: bold;
}
footer .inner #footer_gnb .footer_sns {
  margin-top: 70px;
  float: right;
}
footer .inner #footer_gnb .footer_sns li {
  float: left;
}
footer .inner #footer_gnb .footer_sns li img {
  width: 60px;
}

/* 화면의 너비가 1740px 이하인 경우*/
@media (max-width: 1740px) {
  #mobile .img {
    left: 14%;
  }
  #mobile .inner {
    padding-left: 30%;
  }
}
/* 화면의 너비가 1640px 이하인 경우*/
@media (max-width: 1640px) {
  #mobile .inner {
    padding-left: 38%;
  }
  #mobile .img {
    left: 10%;
  }
  #mobile p {
    margin-left: 0;
  }
}
/* 화면의 너비가 1400px 이하인 경우*/
@media (max-width: 1400px) {
  #brand_story .inner {
    padding-bottom: 12%;
  }
  #brand_story #b_start li:nth-child(odd) .text {
    padding-left: 44%;
  }
  #brand_story #b_start li:nth-child(even) .text {
    padding-right: 44%;
  }
  #brand_story #b_start .item .img {
    width: 43%;
  }
  #brand_story #b_start .item .text {
    padding-top: 10%;
  }
  #brand_story #b_start .item p {
    font-size: 20px;
  }
  #news .news_title h1 {
    font-size: 7vw;
  }
  #mobile .img {
    width: 250px;
    height: 470px;
  }
}
/*태블릿환경 : 화면의 너비가 1024px이하인 경우*/
@media (max-width: 1024px) {
  header .inner {
    margin: 0 5%;
  }
  header .inner #logo img {
    width: 160px;
    height: 40px;
  }
  header .inner #menu {
    margin: 0 5%;
  }
  header .inner #menu .m_t {
    font-size: 16px;
    font-weight: bold;
    margin: 0 25px 0 0;
  }
  header .inner #menu .m_t:last-child {
    margin-right: 0;
  }
  header .inner #util {
    width: 150px;
  }
  header .inner #util li {
    font-size: 16px;
  }
  #main_view #main_text {
    font-size: 170px;
  }
  #main_view #main_image {
    width: calc(50% - 100px);
    top: 60%;
  }
  #main_view #main_image .swiper-slide img {
    height: 400px;
  }
  #main_view #main_image #main_slide_bt {
    width: 150px;
    height: 150px;
    top: -30%;
  }
  #main_view #main_image #main_slide_bt .pager {
    bottom: -80%;
  }
  #main_view #main_image #main_slide_bt .main_next {
    left: 26%;
  }
  #brand_story .inner {
    width: 100%;
    margin-bottom: 5%;
  }
  #brand_story .inner .brand_bg {
    width: 347px;
    height: 375px;
    margin-top: 10%;
    background-size: contain;
  }
  #brand_story .inner h3 {
    font-size: 6vw;
  }
  #brand_story .inner #b_start .item .TEXT .text .bt {
    display: block;
    font-size: 20px;
    background: #008239;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    line-height: 34px;
  }
  #product_slider .inner .product_title {
    font-size: 35px;
    padding-bottom: 20px;
  }
  #product_slider .product01 {
    background: #21A060;
  }
  #product_slider .product02 {
    background: #FE96A7;
  }
  #product_slider .product03 {
    background: #C2DE8A;
  }
  #product_slider .product_box .item_title {
    font-size: 15em;
  }
  #product_slider .product_box .main_product img {
    width: 400px;
    height: 300px;
    top: 35%;
    left: 32%;
  }
  #product_slider .product_box .main_product::after {
    width: 400px;
    height: 20px;
    bottom: 20%;
    left: 55%;
  }
  #product_slider .product_bg .f {
    top: 45%;
    left: 8%;
  }
  #product_slider .product_bg .f img {
    width: 150px;
    height: 150px;
  }
  #product_slider .product_bg .s {
    top: 32%;
    right: 14%;
    z-index: -20;
  }
  #product_slider .product_bg .s img {
    width: 200px;
    height: 200px;
  }
  #product_slider .product_bg .t {
    top: 28%;
    right: 5%;
  }
  #product_slider .product_bg .t img {
    width: 100px;
    height: 100px;
  }
  #product_slider .product_bg .pasta {
    bottom: 28%;
    left: 20%;
  }
  #product_slider .product_bg .pasta img {
    width: 190px;
    height: 190px;
  }
  #product_slider .product_sogae {
    bottom: 20%;
    left: 7%;
  }
  #product_slider .product_sogae p {
    font-size: 30px;
  }
  #product_slider .info li {
    font-size: 14px;
    width: 100px;
    height: 50px;
  }
  #mobile {
    height: 350px;
  }
  #mobile .img {
    width: 200px;
    height: 375px;
  }
  #mobile .inner {
    padding-right: 3%;
  }
  #mobile .inner h1 {
    font-size: 24px;
  }
  #mobile .inner p {
    font-size: 18px;
  }
  #mobile .inner .app_box {
    clear: both;
    float: none;
    margin-right: 0;
  }
  footer {
    width: 100%;
    background: #008239;
  }
  footer .inner {
    margin: 0 auto;
    position: relative;
  }
  footer .inner h1 {
    padding-left: 5%;
  }
  footer .inner h1 img {
    width: 274px;
    height: 58px;
  }
  footer .inner hr {
    margin-left: -10%;
    border: 1px solid white;
    width: 120%;
    opacity: 0.5;
    margin-top: 2%;
  }
  footer .inner #footer_info {
    float: none;
    margin-top: 50px;
    padding-left: 5%;
    height: auto;
  }
  footer .inner #footer_info li {
    color: white;
    padding-bottom: 20px;
    font-size: 14px;
  }
  footer .inner #footer_info li:last-child {
    color: #CECECE;
  }
  footer .inner #footer_gnb {
    float: none;
    margin-top: 30px;
  }
  footer .inner #footer_gnb ul {
    display: flex;
    justify-content: space-around;
  }
  footer .inner #footer_gnb li {
    display: inline-block;
    margin: 0 14px;
  }
  footer .inner #footer_gnb li a {
    color: white;
    text-decoration: none;
  }
  footer .inner #footer_gnb li:first-child {
    font-weight: bold;
  }
  footer .inner #footer_gnb .footer_sns {
    margin-top: 70px;
    position: absolute;
    top: 4px;
    right: 30px;
  }
  footer .inner #footer_gnb .footer_sns li {
    float: left;
  }
  footer .inner #footer_gnb .footer_sns li img {
    width: 60px;
  }
}
@media (max-width: 980px) {
  #news .news_box ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 0.9fr 0.9fr;
  }
}
@media (max-width: 768px) {
  header .inner #menu {
    display: none;
  }
  #brand_story .inner {
    padding-bottom: 12%;
  }
  #brand_story .bg_line_box .bg_line {
    display: none;
  }
  #brand_story h3 {
    margin-bottom: 10%;
    font-size: 11vw;
  }
  #brand_story #b_start li {
    margin-bottom: 28%;
    padding-bottom: 20px;
  }
  #brand_story #b_start .item .img {
    width: 100%;
    float: none !important;
    transform: translateX(5%);
    padding: 0;
  }
  #brand_story #b_start .item .text {
    padding: 0 !important;
    clear: both;
  }
  #brand_story #b_start .item .bt {
    position: absolute;
    top: -15px;
    left: -2px;
  }
  #brand_story #b_start .item h2 {
    font-size: 28px;
    margin: 4% 0 3%;
    padding: 0 20px;
  }
  #brand_story #b_start .item p {
    font-size: 16px;
    padding: 0 20px;
  }
  #mobile {
    height: 350px;
  }
  #mobile .img {
    width: 200px;
    height: 375px;
    transform: rotate(0);
    left: 4%;
  }
  #mobile .inner {
    padding-right: 3%;
  }
  #mobile .inner h1 {
    font-size: 18px;
  }
  #mobile .inner p {
    font-size: 14px;
  }
  #mobile .inner .app_box {
    clear: both;
    float: none;
    margin-right: 0;
  }
}
@media (max-width: 590px) {
  #mobile {
    height: 300px;
    border-radius: 80px 80px 0 0;
  }
  #mobile .img {
    width: 180px;
    height: 340px;
    transform: rotate(0);
    left: 3%;
  }
  #mobile .inner {
    padding-right: 4%;
    padding-left: 40%;
  }
  #mobile .inner h1 {
    font-size: 18px;
    padding-top: 60px;
  }
  #mobile .inner p {
    font-size: 14px;
  }
  #mobile .inner .app_box {
    clear: both;
    float: none;
    margin-right: 0;
    font-size: 0;
  }
  #mobile .inner .app_box li {
    width: 48%;
    margin: 0 1%;
  }
  #mobile .inner .app_box img {
    width: 100%;
  }
  footer .inner #footer_gnb {
    font-size: 12px;
  }
  footer .inner #footer_gnb .footer_sns {
    margin-top: 20px;
    right: 10px;
  }
  footer .inner #footer_gnb .footer_sns li:last-child {
    display: none;
  }
}
@media (max-width: 500px) {
  #news .inner {
    width: 82%;
  }
  #news .news_title h1 {
    font-size: 12vw;
  }
  #news .news_btn span {
    display: none;
  }
  #news .news_box ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
    grid-gap: 40px;
    gap: 40px;
  }
  #news .news_box .notice {
    order: 5;
  }
  #news .news_box span {
    width: 100px;
    height: 30px;
    line-height: 29px;
    font-size: 16px;
  }
  #news .news_box .hyoree_box span {
    width: 120px;
  }
  #mobile {
    height: 350px;
    border-radius: 80px 80px 0 0;
  }
  #mobile .img {
    width: 140px;
    height: 255px;
    transform: rotate(0);
    left: 3%;
  }
  #mobile .inner {
    padding-right: 5%;
    padding-left: 45%;
  }
  #mobile .inner h1 {
    font-size: 18px;
    padding-top: 60px;
  }
  #mobile .inner p {
    font-size: 14px;
  }
  #mobile .inner .app_box {
    clear: both;
    float: none;
    margin-right: 0;
  }
  #gotoTop {
    z-index: 50;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 20px;
  }
  #gotoTop .top_btn {
    font-size: 0.5em;
  }
  #product_slider {
    margin-bottom: 15%;
    position: relative;
    overflow: hidden;
  }
  #product_slider .swiper-wrapper {
    display: flex;
  }
  #product_slider .product01 {
    background: #69B78E;
  }
  #product_slider .product02 {
    background: #F2BEA0;
  }
  #product_slider .product03 {
    background: #ffd483;
  }
  #product_slider .swiper-slide {
    flex-shrink: 0;
  }
  #product_slider .inner {
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 1400px;
    position: relative;
    display: block;
  }
  #product_slider .product_title {
    text-align: center;
    font-family: "Pretendard-Black";
    font-size: 30px;
    padding-top: 5%;
  }
  #product_slider .product01 .product_title {
    color: #FFF;
  }
  #product_slider .product02 .product_title {
    color: #FFF;
  }
  #product_slider .product03 .product_title {
    color: #FFF;
  }
  #product_slider .product_box {
    width: 100%;
  }
  #product_slider .product_box .item_title {
    font-size: 100px;
    color: #CBD9A9;
    text-align: center;
    z-index: 20;
    font-family: "Pretendard-Black";
    opacity: 0.7;
  }
  #product_slider .product_box .item_title.pink {
    color: #FF8843;
  }
  #product_slider .product_box .item_title.yellow {
    color: #FFE0A7;
  }
  #product_slider .product_box .main_product img {
    width: 200px;
    transform: rotate(15deg);
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: 21;
    -o-object-fit: contain;
       object-fit: contain;
    animation: move 0.7s ease-in 0s infinite alternate;
  }
  #product_slider .product_box .bean img {
    transform: rotate(-15deg);
    width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #product_slider .product_box .main_product::after {
    width: 350px !important;
  }
  #product_slider .product_box .man img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #product_slider .product_box .main_product::after {
    display: none;
  }
  #product_slider .product_bg .tomato {
    z-index: 10;
    opacity: 0.7;
  }
  #product_slider .product_bg .f {
    display: none;
  }
  #product_slider .product_bg .f.ss {
    display: none;
  }
  #product_slider .product_bg .f.rice_spoon {
    display: none;
  }
  #product_slider .product_bg .s {
    display: none;
  }
  #product_slider .product_bg .s.mm {
    display: none;
  }
  #product_slider .product_bg .s.salmon {
    display: none;
  }
  #product_slider .product_bg .t {
    display: none;
  }
  #product_slider .product_bg .t.ee {
    display: none;
  }
  #product_slider .product_bg .t.carrot {
    display: none;
  }
  #product_slider .product_bg .pasta {
    display: none;
  }
  @keyframes move {
    0% {
      margin-top: 0px;
    }
    100% {
      margin-top: 10px;
    }
  }
  #product_slider .product_sogae {
    color: #FDF9DE;
    bottom: 43%;
    left: 7%;
  }
  #product_slider .product_sogae p {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3;
  }
  #product_slider .product_sogae em {
    font-weight: normal;
  }
  #product_slider .info {
    position: absolute;
    bottom: 20%;
    left: 0;
  }
  #product_slider .info li {
    padding: 10px 0;
    font-size: 12px;
    width: 60%;
    margin: 0 auto;
    display: block;
    height: 20%;
  }
  #product_slider .info .info_color li {
    color: #a85a00;
    border-bottom: 1px solid #a85a00;
    font-family: "Pretendard-Medium";
  }
  #product_slider .info .info_color li a {
    color: #a85a00;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #product_slider .news_btn {
    padding-top: 10%;
    font-family: "Pretendard";
    text-align: center;
  }
  #product_slider .news_btn span {
    font-size: 15px;
    color: #FDF9DE;
  }
  #product_slider .news_btn p {
    font-size: 12px;
    width: 20px;
    height: 20px;
    background: #FDF9DE;
    border-radius: 50%;
    color: #69B78E;
    text-align: center;
    line-height: 20px;
    margin-top: 20%;
    margin-left: 10px;
    box-sizing: border-box;
    font-weight: bold;
  }
  #product_slider .news_btn.product_pasta_btn p {
    color: #F2BEA0;
  }
  #product_slider .news_btn.product_rice_btn p {
    color: #F2B749;
  }
  #product_slider .pager {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: auto;
    height: auto;
    z-index: 900;
    font-family: "Pretendard";
    color: #f00;
    transform: translate(700px, 50%);
    font-size: 0;
    font-weight: bold;
    width: 50px;
    text-align: center;
  }
  #product_slider .pager span {
    font-size: 15px;
    display: block;
    padding: 5px 0;
  }
  #product_slider .pager .swiper-pagination-current {
    border-bottom: 3px solid #fff;
  }
  #product_slider .pager .swiper-pagination-total {
    color: #fff;
    opacity: 0.5;
    font-weight: normal;
  }
  #product_slider .pager span::before {
    content: counter(title) "";
    font-family: "Pretendard";
  }
  #product_slider .next {
    color: inherit;
    position: absolute;
    right: 8%;
    bottom: 0;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: bold;
  }
  #product_slider .next::after {
    display: none;
  }
  #brand_story .inner .text p {
    font-weight: 500 !important;
  }
  #brand_story #brand_story_02 .text span {
    display: none;
  }
  #brand_story #brand_story_03 .text span {
    display: none;
  }
  #brand_story #brand_story_04 .text span {
    display: none;
  }
  #main_view {
    position: relative;
    height: calc(100vh - 110px);
    overflow: hidden;
  }
  #main_view #main_text {
    animation: main_text 100s linear infinite;
    letter-spacing: -6px;
    font-weight: bold;
    font-size: 100px;
    color: #008239;
    white-space: nowrap;
    opacity: 0.6;
    position: absolute;
    top: 20%;
    line-height: 1;
    margin-top: -0.5em;
  }
  #main_view #main_image {
    position: absolute;
    top: 45%;
    left: 10%;
    padding: 0 100px;
    width: calc(none);
  }
  #main_view #main_image .swiper-slide img {
    height: 205px;
    opacity: 0;
  }
  #main_view #main_image .swiper-slide.swiper-slide-next img {
    opacity: 0;
    transform: translateX(200px);
    transition: all 0s;
  }
  #main_view #main_image .swiper-slide.swiper-slide-prev img {
    opacity: 0;
    transform: translateX(-90px);
    transition: all 0.4s;
  }
  #main_view #main_image .swiper-slide.swiper-slide-active img {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.4s;
  }
  #main_view #main_slide_bt {
    position: absolute;
    bottom: 220px;
    left: 40px;
    z-index: 1;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #main_view #main_slide_bt .main_pager {
    height: auto;
    font-family: "Pretendard-Bold";
    color: #000;
    font-size: 0;
    width: 40px;
    text-align: center;
  }
  #main_view #main_slide_bt .main_pager span {
    font-size: 14px;
    display: block;
    padding: 5px 0;
  }
  #main_view #main_slide_bt .main_pager .swiper-pagination-current {
    border-bottom: 2px solid #000;
  }
  #main_view #main_slide_bt .main_pager .swiper-pagination-total {
    color: #000;
    opacity: 0.4;
    font-weight: normal;
  }
  #main_view #main_slide_bt .main_pager span::before {
    content: counter(title) "";
    font-family: "Pretendard";
  }
  #main_view #main_slide_bt .main_next {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  #main_view #main_slide_bt .main_next::after {
    display: none;
  }
  #main_view #slogan {
    position: absolute;
    bottom: 150px;
    right: 10px;
  }
  #main_view #slogan li {
    border: 1px solid #008239;
    background: #fff;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    margin-left: -20px;
    position: relative;
    top: 0;
  }
  #main_view #slogan li:last-child {
    background: #008239;
  }
  #main_view #slogan li:last-child a {
    color: #fff;
  }
  #main_view #slogan .s1 {
    transform: rotate(-10deg);
    animation: s1 0.4s infinite 0.2s alternate;
  }
  #main_view #slogan .s2 {
    transform: rotate(0deg);
    animation: s1 0.4s infinite 0.3s alternate;
  }
  #main_view #slogan .s3 {
    transform: rotate(10deg);
    animation: s1 0.4s infinite 0.4s alternate;
  }
  #main_view #slogan .s4 {
    transform: rotate(0deg);
    animation: s1 0.4s infinite 0.5s alternate;
  }
  #main_view #slogan a {
    font-size: 14px;
    text-decoration: none;
    color: #008239;
    font-weight: bold;
  }
  header .inner #menu .m_t {
    display: none;
  }
  #side_menu {
    width: 100%;
  }
  footer .inner #footer_gnb ul {
    flex-direction: column;
    padding-left: 5%;
    line-height: 30px;
  }
  footer .inner #footer_gnb .footer_sns {
    margin-top: 20px;
    right: 10px;
  }
  footer .inner #footer_gnb .footer_sns li:last-child {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */