

@charset "utf-8";

body{
    font-family:"Pretendard";
}


//공통색상 : #008239

.clearfix::after{content:""; display:block; clear:both;}

a{text-decoration:none;}



#product_slider{
    margin-bottom:15%; position: relative; overflow:hidden;
    .swiper-wrapper{display:flex;}
    .product01{background:#69B78E;}
    .product02{background:#B7698E;}
    .product03{background:#B78E69;}
    .swiper-slide{flex-shrink:0;}
    .inner{margin:0 auto; padding-bottom:50px; max-width:1400px;
        position:relative;}

    .product_title{text-align:center; font-family:"Pretendard-Black";
        font-size:50px; padding-top:5%;}
    .product01 .product_title{color:#FFF;}
    .product02 .product_title{color:#FFF;}
    .product03 .product_title{color:#FFF;}

    .product_box{width:100%;  //outline:2px solid salmon;
        .item_title{font-size:320px; color:#e1f0b9; text-align:center;
            z-index:20; opacity:0.5; font-family:"Pretendard-Black";}
        .main_product img{width:589px; height:418px; transform:rotate(15deg);
            position:absolute; top:34%; left:30%; z-index:21;}
        .main_product::after{content:""; display:block; width:550px; height:38px;
            background:rgba(10,10,10,0.1); border-radius:85%; 
            position:absolute; bottom:12%; left:50%; margin-left:-290px;
            filter: blur(10px); }
    }//end:product_box

    .product_bg{        
        .tomato{z-index:10; opacity:0.7; }
        .f{top:20%; left:8%; position:absolute; transform:rotate(-4deg);}
        .s{top:30%; right:12%; position:absolute; transform:rotate(15deg); z-index:21;}
        .t{top:20%; right:8%; position:absolute;}
        .pasta{width:287px; height:285px;  position:absolute; bottom:43%; left:20%; z-index:20;}
    }//end:product_bg

    //제품 소개
    .product_sogae{//outline:1px solid red; 
        position:absolute; color:#FDF9DE; bottom:17%; left:0;
        p{font-size:40px; font-weight:bold; line-height:1.2;}
        em{font-weight:normal;}
    }//end:.product_sogae
    
    //성분표기
    .info{ 
        position:absolute; right:0; bottom:17%;
        li{padding:3% 0; border-bottom:1px solid white; color:white;           
        a{color:white;  margin-left:0%; float:right; margin-left:20px; }
        a:hover{color:#008239;}
        }
    }//end:info

    .news_btn{        
        margin-top:32%; font-family:"Pretendard"; text-align: center;
        span{font-size:25px; color:#FDF9DE;}        
        p{font-size:12px; width:30px; height:30px; background:#FDF9DE;
            border-radius:50%; color:#69B78E; text-align:center; line-height:30px;
            margin-left:10px; box-sizing:border-box; font-weight:bold;}
    }//end:news_btn

    .pager{position:absolute; bottom:50%; left:50%; width:auto; height:auto;
        z-index:300; font-family:"Pretendard-Black"; color:#fff;
        transform:translate(700px, 50%); font-size:0;
        width:40px; text-align:center;
        span{font-size:40px; display:block;}
        .swiper-pagination-current{border-bottom:3px solid #fff;}
        .swiper-pagination-total{color:#fff;}
    }

}//end:product_slider






#news{width:100%;  margin:200px 0 20%; //outline:3px solid red;
    .inner{max-width:1364px; margin:0 auto; width:92%; }
    .news_title{margin-bottom:20px;
        h1{font-size:100px; font-family:"Pretendard-Bold";  color:#008239;}    
    } //end:.news_title
    .news_btn{
        float:right; margin-top:-40px;  font-family:"Pretendard-Bold";
        span{font-size:30px; color:#000;}        
        p{font-size:20px; width:40px; height:40px; background:#008239;
            border-radius:50%; color:#fff; text-align:center; line-height:40px;
            margin-left:10px; box-sizing:border-box; }
    } //end:.news_btn
    .news_box{//outline:2px solid palevioletred;
        font-family:"Noto Sans KR"; font-weight:500;
        ul{
            display:grid; grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.9fr 0.9fr ; grid-gap: 20px;
            gap: 20px;
        }         
        li{ float:left;  position: relative; border-radius:20px;     
            border-radius:20px;
            overflow:hidden;    
            img{width:100%; height:100%; object-fit:cover;
                transition: all 0.2s ease-in-out;}            
        }
        li:first-child{grid-row: 1 / span 2;}
        li:hover img{transform:scale(1.05);}
        li a{display:block; width:100%; height:100%;}
        li a:after{content:""; width:100%; height:268px;
            position:absolute; bottom:0; left:0; opacity:0.9;
            background:linear-gradient(
                rgba(255, 255, 255, 0) 0%,
                rgba(0, 0, 0, 1) 92%,
                rgba(2, 0, 36, 1) 90%
            );}
        
        //공지사항만 그라없애기
        .notice a::after{display:none;}
        .notice img{object-position:right bottom;}    
        //홍보자료, 보도자료 등
        span{position:absolute; top:3%; left:5%; color:#fff; z-index:8;
        width:124px; height:47px; background:rgba(0, 0, 0, 0.5); border-radius:50px;
        font-size:18px; text-align:center; line-height:47px; box-sizing:border-box; }

        //기사제목, 내용
        dl{
            position:absolute; z-index:90; bottom:6%; left:5%;
            width:90%;
            dt{color:#fff; font-size:20px; font-weight:bold;
                white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
            dd{color:#979797; font-size:15px; 
                margin-top:3%; line-height:1.3; 
                white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
            }
        }

        //효리박스
        .hyoree_box{
            span{width:150px;}
            dt{font-size:25px; width:100%;}
            dd{font-size:17px; width:100%;}
        }
       
    }//end:news_box    
}//end:news

@media (max-width:1400px){
    #news{
        .news_title h1{font-size:7vw;}
    }
}//end @media (max-width:1024px)

@media (max-width:980px){
    #news{
        .news_box{
            ul{
                display:grid; grid-template-columns: 1fr 1fr;
                grid-template-rows: 0.9fr 0.9fr 0.9fr;
            }
        }         
    }
}//end @media (max-width:980px)

@media (max-width:500px){
    #news{
        .inner{width:82%;}
        .news_title h1{font-size:12vw;}
        .news_btn{
            span{display:none;}            
        }
        .news_box{
            ul{
                display:grid; grid-template-columns: 1fr;
                grid-template-rows: 0.9fr 0.9fr 0.9fr  0.9fr  0.9fr; grid-gap: 40px;
                gap: 40px;
            }
            .notice{order:5;}
            span{width:100px; height:30px; line-height:29px;
                font-size:16px;}
            .hyoree_box span{width:120px;}
        }         
    }
}//end @media (max-width:500px)








#gotoTop{position:fixed; right:50px; bottom:0px; 
    z-index:999; background:white; width:60px; height:60px; border-radius:50%;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1); line-height:60px;
    opacity:0;
    transition: all .2s ease-in-out;
    &.active{opacity:1; bottom:50px;}
    .top_btn{text-align:center; font-size:1em; line-height:1.5;
    margin-top:5px;
    
    a{text-decoration:none; color:black;}
    }
}//end:gotoTop




#mobile{position: relative;
    width:100%; height:463px;
    background:url(../image/mobile_bg01.jpg) center 50% no-repeat; background-size:cover;
    border-radius:150px 150px 0 0; 
    .img{background:url(../image/mobile_img.png) no-repeat;
        width:300px; height:561px; position:absolute; bottom:10%; left:20%;
        transform:rotate(-8deg);      
    }
    .inner{width:1364px; margin:0 auto; 
    h1{color:white; font-size:30px; float:right; 
        font-weight:bold; font-family:"Noto Sans KR"; margin-top:96px;
    }
    p{color:white; font-size:23px; clear:both; line-height:1.5; float:right;
        margin-right:17.5%; margin-top:4%; font-family:"Noto Sans KR";}
    }
    .app_box{clear:both; float:right; margin-right:37%; margin-top:3%;}
    li{display:inline-block;}
}//end:mobile


footer{
        width:100%; height:400px; background:#008239;
        .inner{margin:0 auto; //outline:2px solid sandybrown;
            width:1364px; height:400px; 
            h1{
                padding-top:60px; 
                img{width:274px; height:58px;}
            }
            hr{margin-left:-10%; border:1px solid white; width:120%;
                opacity:0.5; margin-top:2%;
            }
            #footer_info{ float:left; margin-top:50px;
                width:536px; height:auto; //outline:1px solid salmon;
                li{color:white; padding-bottom:30px; font-size:17px;}
                li:last-child{color:#CECECE;}
            }//end:footer_info

            #footer_gnb{
                float:right; margin-top:50px;
                li{display:inline-block; margin:0 15px;}
                li a{color:white; text-decoration:none;}
                li:first-child{font-weight:bold;}
            
                .footer_sns{ margin-top:70px;
                    float:right; 
                    li{float:left; 
                    img{width:60px;}
                    }
                }


            }//end:footer_gnb


        }//end:inner
        
}//end:footer