@charset "utf-8";

body{font-family: "Pretendard-Regular";}
$main:#008239;
a{text-decoration:none;}


header{position:fixed; width:100%; z-index:200;background: #fff;
    box-shadow:0px 5px 6px rgb(0,0,0,0.2); top:0; ;left:0;
    .inner{display:flex; height:110px; justify-content:space-between; margin:0 7.3%;
        align-items:center; font-size:18px; 
        a{color:#000; font-weight:bold;}        
        #menu{
            .m_t{display: inline-block; margin:0 58px; position: relative;}
            .sub{position: absolute;  top:50px; z-index:99;
                transition:all .4s ease ; height:0; visibility: hidden;
                overflow: hidden; 
                ul{padding-top:10px; white-space:nowrap;}
                li{margin-top:20px;}
                li a{color: gray;}
                li a:hover{color: $main;}
                
            }
            &:hover .sub{height:200px; visibility: visible;}
            &::after{content: '';background: #fff; width:100%; height:0; visibility: hidden;
                position:absolute; top:110px; left:0; box-shadow:0px 5px 6px rgb(0,0,0,0.2);
                transition: all .4s;}
            &:hover::after{height:200px; visibility: visible; }

        }//end menu
        #util{font-size: 20px;
            position:relative; width:223px; text-align:right;
            ul{display:inline-block;}
            li{ 
                display: inline-block; 
                .sub{display:none; color: #fff;
                    position:absolute; transition: all 0.4s;}
                &:hover .sub{display: block; width: 35px; height:50px; border-radius:0 0 20px 20px;
                     background:#fff;  box-shadow:0px 5px 6px rgb(0,0,0,0.2);
                    line-height:50px; text-align: center;} 
                }//end li
            .buger{margin-left: 52px;}
            .buger a{display:block; width:28px; height:28px;
                background:#000; border-radius:50%; line-height:28px;
                text-align:center;}
            .xi-bars{color:#fff;}
        }//end util
    }//end inner 
}//end header
#side_menu{
    //display:none;
    transition:all 0.4s ease-in-out;
    position:fixed; width:400px; height:100%; background:#fff;
    border-left:1px solid #eee;
    right:0; top:0; z-index:99;
    transform:translateX(100%); visibility:hidden;
    
    #side_con{padding-top:35%; margin-left:8%;}

    p{color:#008239; font-weight:bold; font-size:24px; margin:14% 0 5% 3%;
    }

    li{padding:8px 0; margin-left:3%; 
        
    }
    
    
    li a{color:gray; font-weight:bold;}
    li a:hover{color:#008239}

    .min{float:right; margin-right:8%;}

    //보이게 하기
    &.active{visibility:visible; transform:translateX(0);} 
}//end:side_menu

@keyframes main_text{to{transform: translateX(-50%);}}
@keyframes s1  {
    to{top:-20px;}
}

main{
    #renewal{
        h2{font-size:30px; color:#008239; font-family: "Pretendard-SemiBold";
            text-align: center; margin-top:200px; margin-bottom:85px;}
        img{ margin-bottom:96px;}
        p{font-size:25px;font-family: "Pretendard-SemiBold"; text-align:center;
            span{color:#008239; line-height:2;}}
        .last{margin-bottom:110px;}
    }
}

footer{
    width:100%; height:400px; background:#008239;
    .inner{margin:0 auto; //outline:2px solid sandybrown;
        width:1364px; height:400px; 
        h1{
            padding-top:60px; 
            img{width:274px; height:58px;}
        }
        hr{margin-left:-10%; border:1px solid white; width:120%;
            opacity:0.5; margin-top:2%;
        }
        #footer_info{ float:left; margin-top:50px;
            width:536px; height:auto; //outline:1px solid salmon;
            li{color:white; padding-bottom:30px; font-size:17px;}
            li:last-child{color:#CECECE;}
        }//end:footer_info

        #footer_gnb{
            float:right; margin-top:50px;
            li{display:inline-block; margin:0 15px;}
            li a{color:white; text-decoration:none;}
            li:first-child{font-weight:bold;}
        
            .footer_sns{ margin-top:70px;
                float:right; 
                li{float:left; 
                img{width:60px;}
                }
            }
        }//end:footer_gnb
    }//end:inner
}//end:footer