@charset "utf-8";

$main:#008239;
a{text-decoration:none;}


header{position:fixed; width:100%; z-index:200;background: #fff;
    box-shadow:0px 5px 6px rgb(0,0,0,0.2);
    .inner{display:flex; height:110px; justify-content:space-between; margin:0 7.3%;
        align-items:center; font-size:18px; 
        a{color:#000; font-weight:bold;}        
        #menu{
            li{
                display: inline-block; margin:0 58px; 
            
            }//end li  
        }//end menu
        #util{
            position:relative; width:223px; text-align:right;
            ul{display:inline-block;}
            li{
                display: inline-block; 
                .sub{display:none; color: #fff;
                    position:absolute;}
                &:hover .sub{display: block;}
            }//end li
            .buger{margin-left: 52px;}
            .buger a{display:block; width:28px; height:28px;
                background:#000; border-radius:50%; line-height:28px;
                text-align:center;}
            .xi-bars{color:#fff;}
        }//end util
    }//end inner 
}//end header

main{padding-top:110px;}
#main_view{
    position:relative; height:calc(100vh - 110px);
    overflow:hidden;
    #main_text{
        letter-spacing: -6px; font-weight:bold; font-size:200px; color: $main;
        white-space: nowrap;
        position:absolute; top:50%; transform:translateY(-50%);
        h3{}
    }//end main_text
    #main_image{
        position: absolute; top:50%; left:17.5%; transform:translateY(-50%);
        li{}
    }//end main_image
}//end main_view
