@charset "utf-8";

/*
    전체너비:100%
    열의갯수:12
    열의너비: 6.5% (130px)
    열사이의 간격: 2% (40px)
*/

.myGrid{display:flex;}

[class*="myGrid_item"]{flex:0 0 100%; margin-left: 1%; margin-right: 1%;}
[class*="_frist"]{margin-left: 0;}
[class*="_last"]{margin-right: 0;}
[class*="myGrid_item_1"]{flex-basis:6.5%;}
[class*="myGrid_item_2"]{flex-basis:15%;}/* 현재값(6.5%)+6.5% + 2% */
[class*="myGrid_item_3"]{flex-basis:23.5%;}/* 현재값(15%)+6.5% + 2% */
[class*="myGrid_item_4"]{flex-basis:32%;}/* 현재값(23.5%)+6.5% + 2% */
[class*="myGrid_item_5"]{flex-basis:40.5%;}/* 현재값(32%)+6.5% + 2% */
[class*="myGrid_item_6"]{flex-basis:49%;}/* 현재값(40.5%)+6.5% + 2% */
[class*="myGrid_item_7"]{flex-basis:57.5%;}/* 현재값(49%)+6.5% + 2% */
[class*="myGrid_item_8"]{flex-basis:66%;}/* 현재값(57.5%)+6.5% + 2% */
[class*="myGrid_item_9"]{flex-basis:74.5%;}/* 현재값(66%)+6.5% + 2% */
[class*="myGrid_item_10"]{flex-basis:83%;}/* 현재값(74.5%)+6.5% + 2% */
[class*="myGrid_item_10"]{flex-basis:91.5%;}/* 현재값(83%)+6.5% + 2% */
[class*="myGrid_item_10"]{flex-basis:100%; margin: 0;}/* 현재값(91.5%)+6.5% + 2% */
